#root {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  overflow-y: auto;
}


.controlPanel {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 20%;
  min-width: 10%;
  background-color: rgb(166, 247, 233);
}


.formsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 40%;
  min-width: 25%;
  background-color: rgb(255, 255, 255);
}

.formsContainer > * {
  flex: 1; /* Distribute the space equally among children */
}

.inputBlock {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin-bottom: 1em;
}


.inputBlock > .headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.inputBlock > .headerContainer > h2 {
  font-size: 20px;
  font-weight: 800;
  margin-left: 1em;
}

.inputBlock > .headerContainer > span {
  font-size: 20px;
  font-weight: 800;
  margin-right: 1em;
}


.inputBlock > h2 {
  margin-top: 1em;
  /* margin-bottom: -0.005em; */
}


.inputBlock > form > button {
  margin-top: 1em;
  margin-bottom: 2em;
}

.inputBlock > button {
  margin-top: 2em;
  margin-bottom: 2em;
}

/* This CSS is necessary for the non-expandable forms */
.inputBlock > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoSliceBlock {
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  border-top: 8px solid rgb(255, 255, 255);
  border-bottom: 8px solid rgb(255, 255, 255);
  box-sizing: border-box;
  text-align: center; /* Center the text horizontally */
  display: flex;
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  margin-bottom: -8px; /* Add a negative margin-top to overlap with the border-top of the next block */
}

.infoSlice {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.infoSliceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box; /* Ensure this property is set */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin-top: 0.5em;
  margin-bottom: 2em;
}

.inputGroup > label {
  font-size: 18px;
  margin-bottom: 0.3em;
}

.inputGroup > input {
  height: 25px;
  width: 100%;
  border-radius: 2em;
}

.cvPreview {
  width: 65%;
  height: 100%;
  margin-left: 3em;
  margin-right: 1em;
  background-color: white;
  box-shadow: inset 0 0 10px #000000;
}

.resumeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: blue;
}

.resumeFullName {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 50%;
  margin-bottom: -2em;
}

.resumeAdditionalPersonalDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  width: 100%;
  height: 40%;
  border-radius: 25px;
  margin-bottom: 1em;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 0.5em;
}

.detailsContainer > h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: grey;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.contentBlock {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 1em;
  width: 95%;
  /* background-color: lightblue; */
  margin-left: 2em;
  margin-right: 2em;
}

.contentBlock > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid black; */
  margin-left: 1.5em;
}

.dateAndLocation {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  max-width: 200px;
  margin-left: 1em;
  margin-right: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 16px;
}

.specifics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* min-width: 300px;
  max-width: 500px; */
  margin-top: 1em;
  margin-bottom: 1em;
}

.specificsHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-weight: 800;
  font-size: 18px;
}

.specificsSubHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  font-style: italic;
  font-size: 18px;
}